@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --black: black;
    --blackL: #212529;
    --white: white;
    --orangeD: #ff4c07;
    --orangeL: #bd5500;
    --blueL: #209cee;
    --cyan: rgba(68, 157, 197, 0.8);
    --cyan-opacity: rgba(68, 157, 197, 0.4);

    /* RANKING */
    --ouro: #df9912;
    --ouroB: #976400;
    --prata: #b8b8b8;
    --prataB: #656565;
    --bronze: #c4551e;
    --bronzeB: #7e3900;

    --opacity: rgba(0, 0, 0, 0.5);
    --degrad: linear-gradient(-45deg, rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2), rgba(150, 150, 150, 0.4), rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    background-image: url('../imgs/backgrounds/default.png');
}

#background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: gradientBG 15s ease infinite, fadeIn 1s ease-in;
    background: var(--degrad);
    background-size: 400% 400%;
}

#logo {
    -webkit-animation: pulsate-fwd 2s ease-in-out infinite both;
    animation: pulsate-fwd 2s ease-in-out infinite both;
    width: 200px;
    margin-top: 20px;
}

input {
    width: 500px;
    font-size: 20px;
    padding: 15px 20px;
    border: 0;
    border-bottom: 10px gray solid;
    transition: 0.5s;
}

input:hover {
    border-bottom: 0;
    transform: translateY(10px);
    outline: 0;
}

button {
    background-color: var(--orangeD);
    border: 0;
    color: var(--white);
    border-bottom: 10px solid var(--orangeL);
    font-size: 20px;
    padding: 15px 0;
    transition: 0.5s;
    width: 250px;
}

button:hover {
    border-bottom: 0;
}

.container-blue {
    background-color: var(--cyan-opacity);
    text-align: center;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.container-orange {
    background-color: var(--orangeD);
    border: 0;
    border-bottom: 10px solid var(--orangeL);
    color: white;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    transition: 0.5s;
}

.container-orange:hover {
    border-bottom: 0;
    transform: translateY(-10px)
}

.nes-container.with-title {
    position: relative;
    overflow: hidden;
    animation: popIn 0.8s ease-out;
    margin-top: 30px;
}

.nes-container.with-title .title {
    font-size: 1.1em;
    letter-spacing: 1px;
    background-color: var(--black);
    padding: 2px 4px;
    color: var(--blueL);
}

.trio-caloroso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
}

.size {
    width: 100%;
    height: 80px;
}

.size + a {
    margin-top: 20px;
}

.container-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}

.container-password input {
    width: 70%;
}

.container-password button {
    width: 25%;
}

.voltar {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    width: 60px;
}

.voltar:hover {
    transform: scale(1.1);
}

.voltar img {
    width: 60px;
}