* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    width:  100%; 
    height:  100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #ccc;
}

#gameCanvas {
    background: url('../imgs/backgroundFight.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}
