body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#background {
    background-image: url('../imgs/backgrounds/default.png');
}

section div {
    height: max-content;
    margin-bottom: 10px;
}

button:hover {
    transform: translateY(10px);
}